.tasks {
    margin-top: 30px;
}

.tasks h3 {
    margin-top: 8px;
}

.task-heading h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.task-btn {
    padding: 8px 16px;
   
}

.task-title {
    font-weight: bold;
    font-size: 13px;
}

.task-descripton {
    font-weight: 400;
    font-size: 12px;
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

