.tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  13px 55px 23px 60px ;
    background-color: rgb(16, 16, 16);
    
}

.tabbar button {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 250ms ease-in;
    color: inherit;
    opacity: 50%;
    background: inherit;
    border: none;
    font-size: 12px;
}


.tabbar button.active-tab {
    color:rgb(255, 255, 255);
    opacity: 100%;
}

.tabbar span {
    margin-top: 6px;
}

